.editor-container {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
}

.editor-container.focus:not(.fullscreen) {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}

.editor-container.fullscreen {
  position: fixed !important;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 9;
}

.CodeMirror {
  height: auto;
  min-height: 150px;
  height: auto;
  padding: 0px 5px 5px 5px;
  font: inherit;
  z-index: 1;
  margin: 0 2px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.editor-container.fullscreen .CodeMirror {
  height: calc(100vh - 35px - 40px);
}

.CodeMirror.CodeMirror-empty {
  font-style: italic;
}

.CodeMirror-scroll {
  min-height: 150px;
}

.sided .CodeMirror {
  width: 50% !important;
}
.CodeMirror-dialog.CodeMirror-dialog-bottom {
  font-size: 14px;
}
.editor-toolbar {
  position: relative;
  opacity: 0.6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 2px;
  border-bottom: 1px solid #d9d9d9;
}

.editor-toolbar:hover,
.editor-wrapper input.title:focus,
.editor-wrapper input.title:hover {
  opacity: 0.8;
}

.editor-toolbar.fullscreen {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background: #fff;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9;
}

.editor-toolbar.fullscreen::before {
  width: 20px;
  height: 50px;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.editor-toolbar.fullscreen::after {
  width: 20px;
  height: 50px;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.editor-toolbar a {
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  color: #959694 !important;
  width: 30px;
  height: 30px;
  margin: 0 2px 2px 0;
  padding-top: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: top;
}

.editor-toolbar a.active,
.editor-toolbar a:hover {
  background: #fcfcfc;
  border-color: #95a5a6;
  color: #2c3e50 !important;
}

.editor-toolbar a:before {
  line-height: 30px;
}

.editor-toolbar i.separator {
  display: inline-block;
  width: 0;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #fff;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px;
  vertical-align: top;
  margin-top: 4px;
}

.editor-toolbar a.fa-header-x:after {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 65%;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
}

.editor-toolbar a.fa-header-1:after {
  content: '1';
}

.editor-toolbar a.fa-header-2:after {
  content: '2';
}

.editor-toolbar a.fa-header-3:after {
  content: '3';
}

.editor-toolbar a.fa-header-bigger:after {
  content: '▲';
}

.editor-toolbar a.fa-header-smaller:after {
  content: '▼';
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  pointer-events: none;
  background: #fff;
  border-color: transparent;
  text-shadow: inherit;
}

@media only screen and (max-width: 700px) {
  .editor-toolbar a.no-mobile {
    display: none;
  }
}

.editor-statusbar {
  padding: 8px 10px;
  font-size: 12px;
  color: #959694;
  text-align: right;
  margin: 2px;
  border-top: 1px solid #d9d9d9;
  opacity: 0.8;
}

.editor-statusbar span,
.editor-statusbar .mode {
  display: inline-block;
  min-width: 4em;
  margin-left: 1em;
}

.editor-statusbar a,
.mode-menu li {
  font-size: 12px;
  color: #959694;
}

.editor-statusbar .lines:before {
  content: 'lines: ';
}

.editor-statusbar .words:before {
  content: 'words: ';
}

.editor-statusbar .characters:before {
  content: 'characters: ';
}

.editor-preview {
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fafafa;
  z-index: 7;
  overflow: auto;
  display: none;
  box-sizing: border-box;
}

.editor-preview-side {
  padding: 10px;
  position: fixed;
  bottom: 35px;
  width: 50%;
  top: 35px;
  right: 0;
  background: #fafafa;
  z-index: 9;
  overflow: auto;
  display: none;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.editor-preview-active-side {
  display: block;
}

.editor-preview-active {
  display: block;
}

.editor-preview > p,
.editor-preview-side > p {
  margin-top: 0;
}

.editor-preview pre,
.editor-preview-side pre {
  background: #eee;
  margin-bottom: 10px;
}

.editor-preview table td,
.editor-preview table th,
.editor-preview-side table td,
.editor-preview-side table th {
  border: 1px solid #ddd;
  padding: 5px;
}

.CodeMirror .CodeMirror-code .cm-tag {
  color: #63a35c;
}

.CodeMirror .CodeMirror-code .cm-attribute {
  color: #795da3;
}

.CodeMirror .CodeMirror-code .cm-string {
  color: #183691;
}

.CodeMirror .CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror .CodeMirror-code .cm-header-1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.25;
}

.CodeMirror .CodeMirror-code .cm-header-2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.25;
}

.CodeMirror .CodeMirror-code .cm-header-3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;
}

.CodeMirror .CodeMirror-code .cm-header-4 {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.25;
}

.CodeMirror .CodeMirror-code .cm-header-5 {
  font-size: 0.875em;
  font-weight: 600;
  line-height: 1.25;
}

.CodeMirror .CodeMirror-code .cm-header-6 {
  font-size: 0.85em;
  color: #6a737d;
  font-weight: 600;
  line-height: 1.25;
}

.CodeMirror .CodeMirror-code .cm-comment,
.CodeMirror .cm-quote,
.CodeMirror .cm-emoji {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 0 2px;
}

.CodeMirror .CodeMirror-code .cm-link {
  color: #40a9ff;
}

.CodeMirror .CodeMirror-code .cm-url {
  color: #40a9ff;
}

.CodeMirror .CodeMirror-code .cm-variable-2 {
  color: #05a;
}

.cm-s-default .cm-emoji {
  color: #009688;
}

.CodeMirror .CodeMirror-code .cm-strikethrough {
  text-decoration: line-through;
}

.CodeMirror .CodeMirror-placeholder {
  opacity: 0.5;
}

.CodeMirror
  .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: rgba(255, 0, 0, 0.15);
}
